.timesheet-container {
  height: 90%;
  .header {
    color: white;
    padding-top: 10px;
  }
  .columns {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    padding-top: 10px;
    .dow-col,
    .jp-col {
      width: 48%;
      display: flex;
      background: white;
      align-items: center;

      flex-direction: column;
      height: 90%;
      .dow-header,
      .jp-header {
        width: 100%;
        background: grey;
      }
      .days {
        width: 100%;
        .day {
          border-bottom: 1px solid black;
          width: 100%;
          height: 62.5px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-evenly;
        }
      }
    }
  }
}
